/* CSS Document */


#prog {
  width: 100%;
  height: 30px; }

.industrial_ptitle {
  font-size: 16px !important;
  font-weight: bold !important; }

#btn_submit_holder {
  float: right; }



.industrial_phead {
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  background-color: rgba(27, 27, 187, 0.83);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white; }

.form-control-adjusted {
  padding: 8px 12px;
  height: 36px; }
.industrial_pbody {
  background-color: rgba(232, 232, 232, 0.56);
  border-radius: 5px; }


  .form-control {
    height: 35px !important; 
  }
  
  
  

    
    #btn_submit_holder{
      float:right;
    }
    
    
    
    .form-control-adjusted{
      padding:8px 12px;
      height: 36px;
    }
    
  
  
  
  
  
  
  .form-holder {
    padding-left: 20px;
    padding-top: 20px; }
  
  /* Custom, iPhone Retina */
  @media only screen and (min-width: 320px) {
    .pbody_industrial {
      margin-top: 20px; }
  
   }
  /* Extra Small Devices, Phones */
  @media only screen and (min-width: 480px) {
    .pbody_industrial {
      margin-top: 20px; }
  
   }
  /* Small Devices, Tablets */
  @media only screen and (min-width: 768px) {
    .pbody_industrial {
      margin-top: 20px; }
  
  }
  /* Medium Devices, Desktops */
  @media only screen and (min-width: 992px) {
    .pbody_industrial {
      margin-top: 20px; }
  
  }
  /* Large Devices, Wide Screens */
  @media only screen and (min-width: 1200px) {
    .pbody_industrial {
      margin-top: 200px;
      font-size: 1.2em; } }
  